.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.about-intro {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-intro-blank {
    height: 10%;
}
.about-intro-header {
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.about-intro-header h1 {
    font-size: 2rem;
}
.about-intro-header span {
    width: 100px;
    height: 6px;
    background: linear-gradient(to right,#2ECFB4 0%, #7D74CF 100% );
    border-radius: 3px;
}
.about-intro-desc-img {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-intro-desc {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 20px;
}
.about-intro-desc p {
    text-align: justify;
    font-size: 1.2rem;
    color: var(--blackFont);
    font-weight: 500;
    line-height: 1.4;
}
.about-intro-desc p span {
    font-weight: bold;
}
.about-intro-desc form {
    width: auto;
    height: auto;
}
.about-intro-desc form input {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: var(--violetColor);
    color: var(--whiteFont);
    font-family: var(--primaryFont);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: var(--buttonRadius);
}
.about-intro-img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-intro-img img {
    width: 70%;
}

.about-criteria {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-criteria-header-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 60%;
}
.about-criteria-header {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.about-criteria-header h1 {
    font-size: 2rem;
}
.about-criteria-header span {
    width: 100px;
    height: 6px;
    background: linear-gradient(to right,#2ECFB4 0%, #7D74CF 100% );
    border-radius: 3px;
}
.about-criteria-desc {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.criteria-desc-wrapper {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.criteria-point {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    color: var(--whiteFont);
}
.criteria-point h1 {
    font-size: 1.2rem;
    width: 95%;
    text-align: center;
}
.criteria-point p {
    width: 85%;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}
.about-criteria-img {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-criteria-img img {
    width: 80%;
}

@media only screen and (max-width: 1225px) and (min-width: 637px) {
    #about-container {
        width: 90%;
    }
    .about-intro-header h1 {
        font-size: 1.7rem;
    }
    .about-intro-desc p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 636px) {
    #about-container {
        width: 80%;
    }
    .about-intro-blank {
        display: none;
    }
    .about-intro {
        height: 800px;
    }
    .about-intro-header {
        height: 10%;
    }
    .about-intro-header h1 {
        font-size: 1.2rem;
    }
    .about-intro-desc-img {
        flex-direction: column-reverse;
        height: 80%;
    }
    .about-intro-desc {
        width: 100%;
    }
    .about-intro-desc p {
        font-size: .9rem;
        text-align: justify;
    }
    .about-intro-img {
        width: 100%;
    }

    .about-criteria-img {
        display: none;
    }
    .about-criteria-header-desc {
        width: 100%;
    }
    .about-criteria-header h1 {
        font-size: 1.2rem;
    }
    .criteria-desc-wrapper {
        width: 100%;
        height: 90%;
    }
    .criteria-point p {
        font-size: .8rem;
    }
}