.contact-wrapper {
    height: 1500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
}
#contact-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.left-side-form {
    border-radius: 40px 0 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-side-form-wrapper {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-side-image {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-side-image img {
    height: 100%;
}
.left-side-contact {
    width: 70%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}
.left-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    user-select: none;
    font-weight: bold;
    color: var(--blackFont);
    font-size: 1.1rem;
}
.left-side-social {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.left-side-social a {
    font-size: 40px;
    transition: all .3s ease-in-out;
    color: var(--violetColor);
}
.left-side-form-wrapper a:hover {
    transform: scale(1.2);
}

.contact-form-container {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-section {
    width: 50%;
    height: 70%;
}
.right-side-form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 40px 40px 0;
}
.right-side-form-wrapper {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.right-side-form-header {
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.right-side-form-header h1 {
    font-size: 2rem;
}
.right-side-form-form {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side-form-form form {
    height: 90%;
}
.input-form, .message-form, .submit-form {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
}
.input-form {
    height: 20%;
}
.input-form, .message-form {
    gap: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--blackFont);
}
.message-form {
    height: 30%;
}
.submit-form {
    height: 30%;
}
.submit-form input {
    align-self: flex-end;
    margin: auto 0;
}

label[for="name"], label[for="email"], label[for="message"] {
    font-size: 1.2rem;
}
input[type="text"], input[type="email"], textarea[name="message"] {
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--greyColor);
    padding: 0 20px;
    font-family: var(--primaryFont);
    font-size: 1.1rem;
}
input[type="text"], input[type="email"] {
    height: 40px;
}
textarea[name="message"] {
    height: 100px;
    padding: 20px;
}
.submit-form input {
    width: 170px;
    height: 50px;
    font-size: 1.1rem;
    border: none;
    color: var(--whiteFont);
    font-family: var(--primaryFont);
    font-weight: bold;
    border-radius: var(--buttonRadius);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.submit-form input:hover {
    transform: scale(1.03);
}

.contact-wave {
    position: absolute;
    height: 450px;
    margin-top: -10px;
    overflow: hidden;
}
.contact-wave img {
    position: absolute;
}
.contact-wave img:nth-child(2) {
    margin-top: -70px;
}

@media only screen and (max-width: 1225px) and (min-width: 637px) {
    #contact-container {
        width: 90%;
    }
    .right-side-form-header h1 {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 636px) {
    .contact-wrapper {
        height: 900px;
    }
    #contact-container {
        width: 90%;
    }
    .form-section {
        height: 80%;
    }
    .left-side-form {
        display: none;
    }
    .right-side-form {
        width: 100%;
        border-radius: 15px;
    }
    .right-side-form-header {
        height: 10%;
    }
    .right-side-form-form {
        height: 90%;
    }
    .right-side-form-header h1 {
        font-size: 1.4rem;
    }
    .right-side-form-header p {
        display: none;
    }

    .input-form, .message-form {
        gap: 8px;
        font-size: .9rem;
    }
    label[for="name"], label[for="email"], label[for="message"] {
        font-size: .9rem;
    }
    input[type="text"], input[type="email"], textarea[name="message"] {
        width: 100%;
        border-radius: 10px;
        border: none;
        background-color: var(--greyColor);
        padding: 0 10px;
        font-family: var(--primaryFont);
        font-size: .9rem;
    }
    .submit-form input {
        width: 140px;
        height: 35px;
        font-size: .9rem;
    }
}