/*font*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@400;500;600;700&display=swap');
/*font-family: 'Fredoka One', cursive;*/
/*font-family: 'Quicksand', sans-serif;*/

/* Format all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*transition: all 300ms ease-in-out;*/
}

/* variables */
:root {
    --thin: 400;
    --bold: 700;
    --primaryFont: 'Quicksand', sans-serif;
    --brandFont: 'Fredoka One', cursive;
    --greyColor: #cfdbd5;
    --violetColor: #613dc1;
    --blackFont: #242423;
    --whiteFont: #ecf8f8;
    --bgLight: #ecf8f8;
    --bgDark: #353535;
    --bgDanger: #ea4545;
    --bgSky: #4fa4e1;
    --buttonRadius: 5px;
    --indexTop: 999;
}

/* Body Format */
body {
    font-family: var(--primaryFont);
}
.root {
    width: 100%;
    height: 200vh;
}
a {
    text-decoration: none;
}
.bg-dark {
    background-color: var(--bgDark);
}
.gradient-color {
    background: #7D74CF;
    background: linear-gradient(to right,#2ECFB4 0%, #7D74CF 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-color-inverted {
    background: #7D74CF;
    background: linear-gradient(to right, #7D74CF 0%, #2ECFB4 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-light {
    background-color: var(--whiteFont);
}
.bg-sky {
    background-color: var(--bgSky);
}
.bg-danger {
    background-color: var(--bgDanger);
}
.bx-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;
}
.tx-shadow {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}