/* Default Format */
.wrapper {
    width: 100%;
}
.container {
    width: 60%;
}


.navbar-wrapper {
    z-index: var(--indexTop);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transition: all .5s ease-in-out;
}
#navbar-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-family: var(--primaryFont);
}
.navbar-brand h1 {
    font-size: 1.8rem;
    color: #ecf8f8;
    font-family: var(--brandFont);
    font-style: italic;
}

.navbar-list {
    width: auto;
}
.navbar-list ul {
    gap: 20px;
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar-list ul li {
    font-size: 1.2rem;
}
.navbar-list ul li:nth-child(4) {
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: var(--buttonRadius);
    background-color: var(--violetColor);
}
.navbar-list ul li a {
    color: var(--whiteFont);
    font-weight: var(--bold);
}

.humberger-menu {
    display: none;
}

.humberger-popup {
    display: none;
}

/* Display Desktop */
@media only screen and (max-width: 1225px) and (min-width: 637px) {
    #navbar-container {
        width: 90%;
    }
    .navbar-brand h1 {
        font-size: 1.7rem;
    }
    .navbar-list ul {
        gap: 10px;
        justify-content: center;
    }
    .navbar-list ul li {
        font-size: 1rem;
    }
    .navbar-list ul li:nth-child(4) {
        margin: 0 5px;
    }
}

/* Display Mobile */
@media only screen and (max-width: 636px) {
    #navbar-container {
        width: 90%;
    }
    .navbar-brand h1 {
        font-size: 1.5rem;
    }
    .navbar-list {
        display: none;
    }

    .humberger-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 35px;
        height: 25px;
    }
    .humberger-menu span {
        width: 100%;
        height: 5px;
        background-color: var(--whiteFont);
        border-radius: var(--buttonRadius);
    }
    .humberger-popup {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(10, 10, 10, 50%);
        backdrop-filter: blur(5px);
        justify-content: center;
        align-items: center;
    }
    .humberger-popup-list {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        background-color: var(--bgLight);
        width: 80%;
        height: 300px;
        border-radius: 20px;
        overflow: hidden;
    }
    .humberger-popup-list ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80%;
        list-style: none;
    }
    .humberger-popup-list ul li:nth-child(4) {
        background-color: var(--violetColor);
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .humberger-popup-list ul li:nth-child(4) a {
        color: var(--whiteFont);
    }
    .humberger-popup-list ul li a {
        color: var(--blackFont);
        font-weight: bold;
    }
}

.d-none {
    display: none;
}
